#
# Base .editorconfig Template
#
# @author Esteban Rocha
# @link   https://github.com/Esteban-Rocha
#

# top-most EditorConfig file
root = true

#
# Unix-style newlines with a newline ending
# Trim trailing whitespace to remove any whitespace characters preceding newline characters
# Charset set to UTF-8
# Indentation style set to spaces
#
[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true

# Markdown
[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
