#
# ESLint: Ignore files
# @author      Esteban Rocha
# @link        https://github.com/Esteban-Rocha
#

# WordPress ignore
/*
!/js
/js/build/*
!/src/*


# Global ignore
**/*.min.js
**/node_modules/**
**/vendor/**
