#
# Prettier Ignore files
# @author Esteban Rocha
# @link   https://github.com/Esteban-Rocha
#


# Global ignore
**/*.html
**/*.twig
**/*.liquid
**/*.min.*
**/*.min.css
**/*.min.js
**/node_modules/**
**/vendor/**
